<a style="float:right; margin-right:20px;" href="/songs/">Dashboard<a>

  <h3>Others who added <%= @song.artist %> - <%= @song.title %></h3>
</br>
  <table style="border-collapse: collapse;">
  <tr style="background-color: #dddddd">
  <th style="padding:8px;border:1px solid black;text-align: left">Name</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Times added</th>
  </tr>
  <tbody>
  <tr><% @playlists.each do |p| %>
    <td style="padding:8px;border:1px solid black;text-align: left"><a href="/users/<%= p.user_id %>"><%= p.first_name %> <%= p.last_name %></a></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><% @users.each do |u| %><%= u.playlists.count %><% end %></td>
  </tr><% end %>
</table>
