<!DOCTYPE html>
<html>
<head>
  <title>dojomusichub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <a style="float:right;" href="/sessions" data-method = "delete">Logout</a>
  <% end %>
  <%= yield %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>
</body>
</html>
